/* 1 EBEFF2 */
/* 2 E2E8ED */
/* 3 D8E0E5 */
/* 4 B6C3CC  */

/* 20 0C1419  */
#App{
  background-color: #FFFFFF ;
  height: 100%;
  color: #0C1419;
}

.centerAlign{
  text-align: center;
}

.rcorners {
  border-radius: 25px;
  border: 2px solid #B6C3CC;
  padding: 20px;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 1em;
}

.grayTheme{
  background-color: #696969;
  color: #0C1419;
}

.footer{
  background-color: #E2E8ED;
  color: #0C1419;
  font-size: small;
  position: fixed;
}

a{
  color: #0C1419;
}

#navbar{
  background-color: #E2E8ED;
  color: #0C1419;
  font-weight: 500;
}

#nav_btn_group {
  margin: auto;
  width: 100%;
  text-align: center;
}

#sim_button_nav, #mod_button_nav, #rec_button_nav, #ttr_rec_button_nav{
  color: #0C1419;
  background-color: #FFFFFF;
  border-color: #B6C3CC;
  border-width: 2px;
  font-size:calc(8px + .5vw);
}


#ModelsContainerDiv{
  width: 100%;
  background-color: #FFFFFF ;
}

#cardTitle, #filecardTitle, #filecardText{
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-size: 1em;
  font-weight: bold;
  color: #0C1419;
}

#regression_output{
  width: 100%;
  color: #0C1419;
  text-align: center;
  font-family: 'Comic Neue', cursive;
  font-size: 2em;
}



h3 {
  padding-left: 2%;
  background-color: #FFFFFF ;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  padding-top:10px;
}

#compare_button{
  margin-left: 2%;
}

h4, h5{
  padding-left: 2%;
}

.information_section{ 
  padding-left: 2%;
}

.texted_information_section{ 
  padding-left: 2%;
}


.section_notes{
  margin-left: 2%;
}

.blockBtn{
  display: block;
  width: 205px;
  margin: auto;
}

.simbutton{
  margin-top: 1em;
}

table{
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  font-size: calc(2px + .7vw);
}

.plot{
  max-width: 100%;
}